@page
@model IndexModel
@{

}
<div class="row" id="cards-row">

</div>

<script defer type="text/javascript">
    $(Document).ready(function () {
        let productDivText = '';
        $.ajax({
            method: "GET",
            beforeSend: function (request){
                request.setRequestHeader("Access-Control-Allow-Origin","*");
                },
            url: "https://localhost:5101/GetAllProducts",
            crossDomain: true
            }).done(function (data){
                if(!data) return;
                for(let i = 0; i < data.length; i++) {
                    productDivText += `        <div class="card">
                                                   <h5 class="card-header">
                                                       ${data[i].name}
                                                   </h5>
                                                   <div class="card-body">
                                                       <p class="card-text">
                                                           ${data[i].details}
                                                       </p>
                                                   </div>
                                                   <div class="card-footer">
                                                       ${data[i].price}
                                                   </div>
                                               </div>
                                       
                                               <div style="margin :1em">
                                                   <button type="button" class="btn btn-success">
                                                       <i class="fas fa-cart-plus"></i>
                                       
                                       
                                                   </button>
                                                   <button type="button" class="btn btn-success">
                                                       <i class="fas fa-info-circle"></i>
                                       
                                       
                                                   </button>
                                               </div>`
                }
                let productsDiv = document.getElementById("cards-row");
                productsDiv.innerHTML = '';
                productsDiv.innerHTML = productDivText;

            });
    })
</script>